*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#countryList {
  list-style: none;
  color: #CAE3FF;
}

#countriesForm {
  margin-bottom: 30px;
}

h3 {
  color: whitesmoke;
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 900;
}

li input {
  display: none;
}

li {
  margin-bottom: 5px;
}

.container {
  margin: 0 auto;
  padding: 50px 150px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  background-color: lightcoral;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-blend-mode: color-burn;
}

fieldset {
  margin-bottom: 30px;
  border: 2px solid lightcoral;
  padding: 20px 25px;
  background-color: lightcoral;
  border-radius: 15px;
  display: grid;
}

fieldset input {
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  padding: 3px 2px;
}

button {
  padding: 5px 5px;
  background-color: wheat;
  border: 2px solid wheat;
  border-radius: 3px;
}

legend {
  color: whitesmoke;
  font-size: 32px;
  font-weight: 400;
}

.formInRow {
  display: flex;
  gap: 10px;
}