*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  
  
  }
  
  .body {
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .container {
    position: relative;
    width: 1110px;
    margin: 0 auto;
  
  }
  
  .header {
    width: 800px;
    margin-inline: auto;
    padding-block: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav {
    list-style: none;
    display: flex;
    gap: 48px;
  }
  
  .hero img {
    margin-left: -100px;
  }
  
  li {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  
  .nav a {
    font-size: 12px;
    line-height: 1.2em;
    color: black;
    text-decoration: none;
  }
  
  .nav img {
    vertical-align: middle;
    cursor: pointer;
  }
  
  p {
    font-family: "Open Sans", sans-serif;
    color: #52647C;
  }

  .article1 {
    width: 354px;
  }
  
  .profile-icon {
    margin-left: 5px;
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #52647C;
    background-color: #ffff;
  }
  
  .hero h3 {
    width: 1190px;
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: 40px;
    border-bottom: 1px solid #EAEAEA;
  
  }
  
  .profile-icon img {
    vertical-align: middle;
    border-radius: 65px;
  }
  
  p {
    font-family: "Open Sans", sans-serif;
    color: #52647C;
  }
  
  .item {
    display: inline-block;
    margin: 24px;
  }
  
  .item img {
    border-radius: 16px;
  }
  
  .first-row {
    width: 1440px;
  }
  
  .second-row {
    width: 1440px;
  }
  
  .third-part {
    width: 1110px;
    height: 349px;
    background-color: #000000;
    text-align: center;
    border-radius: 24px;
    margin-top: 56px;
    margin-bottom: 80px;
  }
  
  .nothing {
    width: 426px;
    padding-top: 83px;
    padding-left: 96px;
    color: #ffff;
  }
  
  .button {
    width: 136px;
    height: 32px;
    color: #ffff;
  }
  
  .kutu {
    width: 112px;
    border-radius: 3px;
    gap: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #0D6EFD;
    margin-left: 90px;
    margin-top: 24px;
  }
  
  .kutu a {
    text-decoration: none;
  }
  
  .photo {
    margin-left: 530px;
    margin-top: -235px}
  
  .title {
    color: #ffff;
    margin-left: 90px;
    width: 326px;
    text-align: left;
  
  }
  
  .profile-icon2 {
    margin-right: 695px;
    color: #ffff;
  }
  
  .profile-icon2 img {
    margin-left: 5px;
    margin-top: 8px;
    font-size: 14px;
    line-height: 24px;
    color: #52647C;
    background-color: #ffff;
  }
  .blog-item img{
    float: left;
    margin-right: 20px;
    border-radius: 24px;
    
  }
  .article3{
     font-size: 14px;
     line-height: 24px;
     color: #52647C;
  }
  
  .box2 {
    width: 272px;
    border-radius: 3px;
  }
  
  .box1 {
    width: 1030px;
    gap: 10px;
    margin: 130px;
  }
  
  .blog-img {
    width: 445px;
    height: 250px;
    border-radius: 12px;
  }
  
  .blog1m {
    margin-left: 522px;
    margin-top: -255px;
  }
  
  .blog1m h4 {
    width: 700px;
    font-size: 30px;
    line-height: 37px;
  }
  
  .blog1m img {
    margin-top: 8px;
  }
  
  .nck {
    margin-left: 50px;
    margin-top: -30px;
  }
  
  .txt {
    margin-top: 20px;
  }
  
  .button2 {
    margin-left: 500px;
    width: 272px;
    background-color: #0D6EFD;
  }
  
  .button2 h2 {
    font-weight: 600px;
    font-size: 23px;
    line-height: 32px;
    color: white;
    text-align: center;
    padding: 16px;
  }
  
  .box2 {
    margin: 80px;
  }
  
  .border {
    width: 1920px;
    border-bottom: solid 1px;
    color: #EAEAEA;
    margin: 72px;
    margin-left: -500px;
  }
  
  .box3 {
    line-height: 34px;
  }
  
  .box3 h4 {
    width: 165px;
    font-weight: 700px;
    font-size: 14px;
    line-height: 34px;
  }
  
  .box3 p {
    font-weight: 400px;
    font-size: 14px;
    line-height: 34px;
  }
  
  .box4 {
    line-height: 34px;
  }
  
  .box4 h4 {
    width: 165px;
    font-weight: 700px;
    font-size: 14px;
    line-height: 34px;
  }
  
  .box4 p {
    font-weight: 400px;
  }
  
  .box5 {
    line-height: 34px;
  }
  
  .box5 h4 {
    width: 165px;
    font-weight: 700px;
    font-size: 14px;
    line-height: 34px;
  }
  
  .box5 p {
    font-size: 14px;
  }
  
  .box6 {
    line-height: 34px;
  }
  
  .box6 h4 {
    width: 165px;
    font-weight: 700px;
    font-size: 14px;
    line-height: 34px;
  }
  
  .box6 p {
    line-height: 34px;
  }
  
  .bigbox {
    margin-left: 70px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .smallbox {
    float: right;
    width: 700px;
  }
  
  .smallbox h3 {
    font-weight: 400px;
    font-size: 16px;
    margin-left: 170px;
    line-height: 28px;
    color: #212121;
    padding: 24px
  }
  
  .smallbox img {
    margin-left: 24px;
  }
  
  .border1 {
    width: 1920px;
    border-bottom: solid 1px;
    color: #EAEAEA;
    margin: 62px;
    margin-left: -500px;
  }
  
  .footer {
    display: flex;
    margin-left: 70px;
    justify-content:space-between;
    align-items: center;
    margin: 24px;
  }
  
  .footer img {
    width: 19px;
    height: 24px;
  }
  
  .footer p {
    margin-left: 322px;
    font-size: 14px;
    line-height: 24px;
    margin: 10px;
  
  }
  
  .ico {
    margin-left: 80px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }