* {
  margin-inline: auto;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #e0e8ff;
}

.container {
  width: 450px;
  height: 632px;
  margin-top: 150px;
  margin-left: 728px;
  margin-right: 528px;
  border: 1px solid #111111;
  border-radius: 20px;
  background-color: #ffff;
}

.box {
  margin-left: -10px
}

.container img {
  margin: 24px;
  radius: 10px;
}

.title-learning {
  width: 82px;
  height: 29px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 24px;
  margin-top: 5px;
  gap: 8px;
  font-weight: 800px;
  background-color: #f4d04e;
}

.title-learning h5 {
  margin-top: 6px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 4px;
}

.published {
  width: 145px;
  height: 21px;
  font-size: 14px;
  line-height: 21px;
  color: #111111;
  background-color: #ffff;
  margin: 12px;
}

.kutu a {
  width: 336px;
  height: 36px;
  margin: 12px;
  line-height: 36px;
  font-size: 24px;
  text-decoration: none;
  color: #111111;
}

.kutu a:hover {
  color: #f4d04e;
}

.article {
  width: 336px;
  height: 72px;
  color: #7e7e7e;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.user {
  display: flex;
  margin-bottom: 5px;
}

.usertext {
  margin-top: -50px;
  margin-left: 70px;
}
.kutu h2 {
  text-align: center;
}

.button {
  width: 354px;
  height: 24px;
  display: inline-block; /* Yukarıdan sıkışmayı engelledi */
  text-decoration: none; /* Linkin altınndaki çizgiyi sildi */
  color: white;        /* Linkin rengini beyaz yaptı */
  border: 2px solid #382AE1; /* solid buton oluşturdu */
  padding: 8px; /* Butonun etrafındaki çizgiyi yazıdan uzaklaştırdı */
  padding-inline: 10px; /* Sağdan soldan uzaklaştırdı  */
  background-color: #382AE1;
  box-shadow: 1px 1px 20px #382AE1;
  border-radius: 50px;
  margin-left: 40px;
  margin-top: 70px;
  text-align: center;
}

.button2 {
  width: 354px;
  height: 24px;
  display: inline-block; /* Yukarıdan sıkışmayı engelledi */
  text-decoration: none; /* Linkin altınndaki çizgiyi sildi */
  color: #717FA6;        /* Linkin rengini beyaz yaptı */
  padding: 8px; /* Butonun etrafındaki çizgiyi yazıdan uzaklaştırdı */
  padding-inline: 10px; /* Sağdan soldan uzaklaştırdı  */
  border-radius: 50px;
  margin-left: 40px;
  margin-top: 20px;
  text-align: center;
}
