/* 
  1. Use a more-intuitive box-sizing model.
  2. Remove default margin
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* 
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "League Spartan", sans-serif;
}

/* 
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/* 
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Common styles */
.container {
  width: 540px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}

.theme-box a {
  text-decoration: none;
}

.btn-index a {
  color: white;
}

.btn-theme2 a {
  color: #36362C;
}

.btn-theme3 a {
  color: #00DED0;

}

.cal-header {
  width: 533px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.cal-header h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 29.44px;
  letter-spacing: -0.5333333611488342px;
  text-align: center;
}

.theme {
  display: flex;
  gap: 26px;
  align-items: center;
}

.theme-box p {
  margin-top: -20px;
}

.theme p {
  font-size: 12px;
  font-weight: 700;
  line-height: 11.04px;
  letter-spacing: 1px;
  text-align: center;
  padding-bottom: 5px;
}

.theme-area {
  width: 71px;
  border-radius: 15px;
}

.theme-area-red {
  width: 16px;
  border-radius: 100px;
}

.cal-main {
  width: 540px;
}

.cal-output {
  width: 540px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.cal-output-txt {
  width: 185px;
  font-size: 56px;
  font-weight: 700;
  line-height: 51.52px;
  letter-spacing: -0.9333333373069763px;
  padding-block: 40px;
  margin-left: 323px;
}

.cal-buttons-area {
  width: 540px;
  padding: 32px 30px;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 24px;
}

button {
  width: 101px;
  padding: 13px 13px;
  border-radius: 10px;
  background-color: #EAE3DC;
  box-shadow: 0px -4px 0px 0px #B3A497 inset;
}

button p {
  font-size: 40px;
  font-weight: 700;
  line-height: 36.8px;
  letter-spacing: -0.6666666865348816px;
  text-align: center;
}

.last-buttons {
  display: flex;
  gap: 24px;
  padding-top: 24px;
}

.reset-button {
  width: 227px;
  border-radius: 10px;
  color: #ffffff;
}

.reset-button h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 25.76px;
  letter-spacing: -0.46666666865348816px;
  text-align: center;
  padding: 13px 32px;
}

.conclusion {
  width: 227px;
  border-radius: 10px;
  color: #ffffff;
}

.conclusion h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 25.76px;
  letter-spacing: -0.46666666865348816px;
  text-align: center;
  padding: 13px 32px;
}

/* Theme 1 */
body.theme-1 {
  background-color: #3A4663;
}

.theme-1 .cal-header h2 {
  color: #ffffff;
}

.theme-1 .theme-box p,
.theme-1 .theme p {
  color: #ffffff;
}

.theme-1 .theme-area {
  border: 15px solid #242D44;
  background-color: #242D44;
}

.theme-1 .cal-output {
  background-color: #181F33;
}

.theme-1 .cal-output-txt {
  color: #ffffff;
}

.theme-1 .cal-buttons-area {
  background-color: #242D44;
}

.theme-1 button p {
  color: #434A59;
}

.theme-1 .reset-button {
  background-color: #647198;
  box-shadow: 0px -4px 0px 0px #414E73 inset;
}

.theme-1 .conclusion {
  background-color: #D03F2F;
  box-shadow: 0px -4px 0px 0px #93261A inset;
}

/* Theme 2 */
body.theme-2 {
  background-color: #E6E6E6;
}

.theme-2 .cal-header h2 {
  color: #000;
}

.theme-2 .theme-box p,
.theme-2 .theme p {
  color: #000;
}

.theme-2 .theme-area {
  border: 15px solid #D2CDCD;
  background-color: #d2cdcd;
}

.theme-2 .cal-output {
  background-color: #EEEEEE;
}

.theme-2 .cal-output-txt {
  color: #000;
}

.theme-2 .cal-buttons-area {
  background-color: #D2CDCD;
}

.theme-2 button p {
  color: #36362C;
}

.theme-2 .reset-button {
  background-color: #378187;
  box-shadow: 0px -4px 0px 0px #1B6066 inset;
}

.theme-2 .conclusion {
  background-color: #C85402;
  box-shadow: 0px -4px 0px 0px #873901 inset;
}

/* Theme 3 */
body.theme-3 {
  background-color: #17062A;
}

.theme-3 .cal-header h2 {
  color: #FFE53D;
}

.theme-3 .theme-box p,
.theme-3 .theme p {
  color: #FFE53D;
}

.theme-3 .theme-area {
  border: 15px solid #1E0936;
  background-color: #1E0936;
}

.theme-3 .cal-output {
  background-color: #1E0936;
}

.theme-3 .cal-output-txt {
  color: #FFE53D;
}

.theme-3 .cal-buttons-area {
  background-color: #1E0936;
}

.theme-3 button {
  background-color: #331C4D;
  box-shadow: 0px -4px 0px 0px #881C9E inset;
}

.theme-3 button p {
  color: #FFE53D;
}

.theme-3 .reset-button {
  background-color: #56077C;
  box-shadow: 0px -4px 0px 0px #BE15F4 inset;
}

.theme-3 .conclusion {
  background-color: #00DED0;
  box-shadow: 0px -4px 0px 0px #6CF9F1 inset;
}

.theme-area-Dred {
  width: 16px;
  height: 16px;
  border: 10px solid #D03F2F;
  border-radius: 100px;
  margin-left: -7px;

}



.theme-area-Cred {
  background-color: #D2CDCD;
  width: 16px;
  border: 10px solid #D03F2F;
  border-radius: 100px;
  margin-left: 10px;
}

.theme-area-blue {
  background-color: #1E0936;
  width: 16px;
  border: 10px solid #00DED0;
  border-radius: 100px;
  margin-left: 30px;
}


/* Calculator Mobile Start */

@Media (width <=768px) {
  .container {
    width: 327px;
    margin: 0 auto;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .cal-header {
    width: 327px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
  }

  .cal-header h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 29.44px;
    letter-spacing: -0.5333333611488342px;
    text-align: center;
  }

  .theme {
    display: flex;
    gap: 26px;
    align-items: center;
  }

  .theme-box p {
    margin-top: -20px;
  }

  .theme p {
    font-size: 12px;
    font-weight: 700;
    line-height: 11.04px;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 5px;
  }

  .theme-area {
    width: 71px;
    border-radius: 15px;
  }

  .theme-area-red {
    width: 16px;
    border-radius: 100px;
  }

  .cal-main {
    width: 327px;
  }

  .cal-output {
    width: 327px;
    border-radius: 10px;
    margin-bottom: 24px;
  }

  .cal-output-txt {
    width: 185px;
    font-size: 56px;
    font-weight: 700;
    line-height: 51.52px;
    letter-spacing: -0.9333333373069763px;
    padding-block: 40px;
    margin: 0px;
    margin-left: 155px;
  }

  .cal-buttons-area {
    width: 327px;
    padding: 32px 30px;
    border-radius: 10px;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 13px;
  }

  button {
    width: 60px;
    height: 60px;
    padding: 13px 10px 13px 11px;
    border-radius: 10px;
    background-color: #EAE3DC;
    box-shadow: 0px -4px 0px 0px #B3A497 inset;
  }

  button p {
    font-size: 22px;
    font-weight: 700;
    line-height: 36.8px;
    letter-spacing: -0.6666666865348816px;
    text-align: center;
  }

  .last-buttons {
    display: flex;
    gap: 13px;
    padding-top: 24px;
  }

  .reset-button {
    width: 227px;
    border-radius: 10px;
    color: #ffffff;
  }

  .reset-button h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 25.76px;
    letter-spacing: -0.46666666865348816px;
    text-align: center;
    padding: 13px 32px;
  }

  .conclusion {
    width: 227px;
    border-radius: 10px;
    color: #ffffff;
  }

  .conclusion h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 25.76px;
    letter-spacing: -0.46666666865348816px;
    text-align: center;
    padding: 13px 32px;
  }

  /* Theme 1 */
  body.theme-1 {
    background-color: #3A4663;
  }

  .theme-1 .cal-header h2 {
    color: #ffffff;
  }

  .theme-1 .theme-box p,
  .theme-1 .theme p {
    color: #ffffff;
  }

  .theme-1 .theme-area {
    border: 15px solid #242D44;
  }

  .theme-1 .cal-output {
    background-color: #181F33;
  }

  .theme-1 .cal-output-txt {
    color: #ffffff;

  }

  .theme-1 .cal-buttons-area {
    background-color: #242D44;
  }

  .theme-1 button p {
    color: #434A59;
  }

  .theme-1 .reset-button {
    background-color: #647198;
    box-shadow: 0px -4px 0px 0px #414E73 inset;
  }

  .theme-1 .conclusion {
    background-color: #D03F2F;
    box-shadow: 0px -4px 0px 0px #93261A inset;
  }

  /* Theme 2 */
  body.theme-2 {
    background-color: #E6E6E6;
  }

  .theme-2 .cal-header h2 {
    color: #000;
  }

  .theme-2 .theme-box p,
  .theme-2 .theme p {
    color: #000;
  }

  .theme-2 .theme-area {
    border: 15px solid #D2CDCD;
  }

  .theme-2 .cal-output {
    background-color: #EEEEEE;
  }

  .theme-2 .cal-output-txt {
    color: #000;
  }

  .theme-2 .cal-buttons-area {
    background-color: #D2CDCD;
  }

  .theme-2 button p {
    color: #36362C;
  }

  .theme-2 .reset-button {
    background-color: #378187;
    box-shadow: 0px -4px 0px 0px #1B6066 inset;
  }

  .theme-2 .conclusion {
    background-color: #C85402;
    box-shadow: 0px -4px 0px 0px #873901 inset;
  }

  /* Theme 3 */
  body.theme-3 {
    background-color: #17062A;
  }

  .theme-3 .cal-header h2 {
    color: #FFE53D;
  }

  .theme-3 .theme-box p,
  .theme-3 .theme p {
    color: #FFE53D;
  }

  .theme-3 .theme-area {
    border: 15px solid #1E0936;
  }

  .theme-3 .cal-output {
    background-color: #1E0936;
  }

  .theme-3 .cal-output-txt {
    color: #FFE53D;
  }

  .theme-3 .cal-buttons-area {
    background-color: #1E0936;
  }

  .theme-3 button {
    background-color: #331C4D;
    box-shadow: 0px -4px 0px 0px #881C9E inset;
  }

  .theme-3 button p {
    color: #FFE53D;
  }

  .theme-3 .reset-button {
    background-color: #56077C;
    box-shadow: 0px -4px 0px 0px #BE15F4 inset;
  }

  .theme-3 .conclusion {
    background-color: #00DED0;
    box-shadow: 0px -4px 0px 0px #6CF9F1 inset;
  }

  .theme-area-Dred {
    width: 16px;
    border: 10px solid #D03F2F;
    border-radius: 100px;
    margin-left: -7px;
  }

  .theme-area-Cred {
    background-color: #D2CDCD;
    width: 16px;
    border: 10px solid #D03F2F;
    border-radius: 100px;
    margin-left: 10px;

  }

  .theme-area-blue {
    background-color: #1E0936;
    width: 16px;
    border: 10px solid #00DED0;
    border-radius: 100px;
    margin-left: 30px;

  }


}
